<%- include("partials/header"); -%>

<a href="/compose" class="button">Add a new Post +</a>

<h1>Hello</h1>
<p><%= homeStartingContent %></p>

<% posts.forEach(post => { %>
<h1> <%= post.title %> </h1>
<p> <%= post.content %> </p>
<% }) %>
<%- include("partials/footer"); -%>