<%- include("partials/header"); -%>

<form action="/delete" method="POST">
  <a href="/" class="button">Go Back</a>
  <h1><%= title %> </h1>
  <p><%= content %></p>
  <input type="hidden" name="postId" value="<%= id %>">
  <button type="submit" class="button">Delete</button>
</form>
<%- include("partials/footer"); -%>